<!DOCTYPE html>
{% load staticfiles %}
<html>

<head>
  <meta charset="utf-8">
  <title>Historial Medico</title>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
  <link href="https://fonts.google.com/specimen/Basic" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="{% static 'css/historial.css' %}">
</head>
<body>
  <div class="page-header">
    <a href="{% url 'historial.views.post_list' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
    <h1><a href="/listado/">Hospital San Lucas</a></h1>
    <div id="menu" class="container">


      <ul>
        <li class="current_page_item"><a href="/" accesskey="1" title="">Inicio</a></li>
        <li><a href="/nuevopaciente/" accesskey="1" title="">Nuevo Paciente</a></li>
        <li><a href="/listapacientes/" accesskey="3" title="">Pacientes</a></li>
        <li><a href="/nuevaconsulta/" accesskey="4" title="">Nueva Consulta</a></li>
        <li><a href="/cerrar/" accesskey="5" title="">Cerrar Sesion</a></li>
      </ul>

    </div>
    {% if messages %}
    <ul class="messages">
      {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}
  </div>
  <div class="content container">
    <div class="row">
      <div class="col-md-8">
        {% block content %}
        {% endblock %}
      </div>
      <img src="/static/images/consulta1.jpeg" alt="Mountain View" style="float:center;width:1200px;height:500px;">
      <div id="copyright" class="container">
				<p>&copy;  Diseñado por  <a href="" rel="nofollow">Pablo Huinac</a>.</p>
			</div>
    </div>
  </div>
</body>
</html>
