{% extends 'historial/base.html' %}
{% load staticfiles %}
 {% block content %}

 {% for c in cons %}
     <div>
       <h1>Doctor: <a href="">{{ c.doctor__nombre }} {{ c.doctor__apellido }}</a></h1>
       <h1><u>Doctor:</u> {{ c.doctor__nombre }} {{ c.doctor__apellido }}</h1>

       <p><b>Paciente: </b>{{ c.paciente__nombre }} {{ c.paciente__apellido }}</p>
       <p><b>Enfermedad: </b>{{ c.enfermedad__nombre }}</p>
       <p><b>Padecimiento: </b>{{ c.descripcion_padecimiento }}</p>
       <p><b>Fecha: </b>{{ c.fecha_padecimiento }}</p>
       <p><b>Tratamiento: </b>{{ c.tratamiento }}</p>
     </div>
 {% endfor %}
{% endblock content %}
